@import '../../variables.scss';

.compare-container {
  grid-column: 1/7;
  margin: 0 2%;
  display: flex;
  justify-content: center;
  padding: 0 0 25px;

  .card {
    width: 200px;
    margin: 10px;
  }
}

