@import '../../variables.scss';

.wrapper {
  display: grid;
  grid-template-columns: 0.4fr repeat(6, 1fr) 0.4fr;
  grid-gap: 10px;
  background-color: $main-bg-color;
  font-family: $main-font;
  font-weight: 400;
  font-size: 16px;
}

@media screen and (max-width: 1700px) {
  .wrapper {
    grid-template-columns: 20px repeat(6, 1fr) 20px;
  }
}