@import "../../variables.scss";

.card {
  border: none;
  border-radius: 25px;
  text-align: center;
  padding: 20px 0px;
  background-color: $card-bg;
  box-shadow: 1px 2px 4px #868686;
}

h3 {
  font-size: 1.2em;
  color: $card-title-color;
}

ul {
  margin-top: 10px;
}

li {
  list-style: none;
}
.low{
  color: $card-low-color;
}

.high {
  color: $card-high-color;
}

.selected {
  background-color: $card-bg-selected;
}