.card {
  border: none;
  border-radius: 25px;
  padding: 20px 10px;
  background-color: white;
  box-shadow: 2px 2px 4px #868686;
  min-height: 352px; }
  .card:hover {
    cursor: pointer;
    background-color: #F5F5F6; }
  .card h3 {
    font-size: 1.2em;
    color: #5BB3C3;
    font-weight: 400;
    text-align: center;
    height: 40px; }
  .card li {
    list-style: none;
    margin: 8px 0; }
  .card .card-data {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .card .compare {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 50px 10px;
    height: 100%;
    width: 100%; }
    .card .compare h3 {
      height: auto;
      margin-bottom: 5px; }
    .card .compare h4 {
      font-weight: 400; }
    .card .compare .districts-avg {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0 10px; }
    .card .compare .arrow {
      height: 34px; }

ul {
  margin-top: 10px; }

li {
  list-style: none;
  margin: 2px 0; }

.low {
  color: #ED6033; }

.high {
  color: #273B7A; }

.selected {
  background-color: #DDDDDE; }

.compare-header {
  margin-bottom: 10px; }

@media screen and (max-width: 850px) {
  .card .compare {
    height: 290px; }
    .card .compare .arrow {
      display: none; }
    .card .compare .districts-avg {
      justify-content: center; }
  .compare-header {
    margin-bottom: 0; } }

@media screen and (max-width: 958px) {
  .card h3 {
    height: auto; } }
