@import "../../variables"

.card {
  font-family: ;
  border: 1px solid black;
  border-radius: 25px;
  text-align: center;
  padding: 20px 0px;
}

h3 {
  font-size: 1.2em;
}

ul {
  margin-top: 10px;
}

li {
  list-style: none;
}

.high {
  color: magenta;
}

.selected {
  background-color: grey;
}