.footer {
  grid-column: 1/9;
  background-color: #273B7A;
  color: #5BB3C3;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Slabo 27px", serif;
  font-size: 20px; }
