@import '../../variables.scss';

.footer {
  grid-column: 1/9;
  background-color: $header-bg-color;
  color: $header-font-color;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $header-font;
  font-size: 20px;
}