// colors
$card-bg-color: white;
$main-bg-color: #F4F4F4;
$header-bg-color: #273B7A;
$header-font-color: #E0A449;
$card-title-color: #D48B07;
$card-yr-color: yellow;
$card-low-color: #ED6033;
$card-high-color: #273B7A;
$card-bg: white;
$card-bg-selected: #DEDEDE;
$button-color: #F7C74A;
$button-hover-color: #CBA33D; 

// fonts
$header-font: 'Slabo 27px', serif;
$main-font: 'Lato', sans-serif;
