// colors
$card-bg-color: white;
$main-bg-color: #F4F4F4;
$header-bg-color: #273B7A;
$header-font-color: #5BB3C3;
$card-title-color: #5BB3C3;
$card-yr-color: #273B7A;
$card-low-color: #ED6033;
$card-high-color: #D48B07;
$card-averages-color: #273B7A;
$card-bg: white;
$card-bg-selected: #DDDDDE;
$button-color: #F7C74A;
$button-hover-color: #CBA33D;
$button-font-color: #273B7A;
$search-border-color: #F7C74A; 

// fonts
$header-font: 'Slabo 27px', serif;
$main-font: 'Lato', sans-serif;
