// colors
$card-bg-color: ;
$main-bg-color: ;
$header-bg-color: ;
$card-title-color: ;
$card-yr-color: ;
$card-low-color: ;
$card-high-color: ;
$button-color: ;
$button-hover-color: ; 

// fonts
$header-font: ;
$main-font: ;
